body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the body fill the entire viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background color for the app */
}

#puzzle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 300px;
    margin: 10px auto; /* Add some margin for spacing */
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    font-size: 24px;
    background-color: #ffcc80; /* Light orange color for tiles */
    color: #333; /* Dark text color for contrast */
    border-radius: 5px; /* Rounded corners for tiles */
}

.tile.small {
    font-size: 16px;
}

.empty {
    background-color: #ccc; /* Gray color for the empty tile */
}

#shuffle-button {
    display: block;
    margin: 10px auto; /* Add some margin for spacing */
    width: 150px; /* Adjust button width */
    padding: 10px;
    font-size: 16px;
}

#emoji-set-selector {
    display: block;
    margin: 10px auto; /* Adjust margin to position it lower */
    width: 200px; /* Adjust selector width */
    padding: 10px;
    font-size: 16px;
}

#win-message {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

