body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the body fill the entire viewport height */
    margin: 0;
}

#puzzle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 300px;
    margin: 10px auto; /* Add some margin for spacing */
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    font-size: 24px;
}

.empty {
    background-color: #ccc;
}

#shuffle-button {
    display: block;
    margin: 10px auto; /* Add some margin for spacing */
    width: 100px; /* Adjust button width */
}

#emoji-set-selector {
    display: block;
    margin: 10px auto; /* Adjust margin to position it lower */
    width: 100px; /* Adjust selector width */
}

#win-message {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

